<table class="table table-condensed">
<thead>
  <tr>
    <th>標題</th>
    <th>修改日期</th>
  </tr>
</thead>
<tbody>
  <% @notes.each do |note| %>
  <tr>
    <td><%= link_to note.title, note_path(note), :remote => true, :id => note %></td>
    <td><%= note.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
  </tr>
  <% end %>
</tbody>
</table>

